HOSTNAME = {{HOSTNAME}} # Хостр запуска сервера - имитатора
SMB_PORT = {{SMB_PORT}} # Порт запука сервера - имитатора по SMB
NFS_PORT = {{NFS_PORT}} # Порт запука сервера - имитатора по NFS
FTP_PORT = {{FTP_PORT}} # Порт запука сервера - имитатора по FTP
SSH_PORT = {{SSH_PORT}} # Порт запука сервера - имитатора по SSH
TARGET_HOSTNAME = {{TARGET_HOSTNAME}} # Хост центрального сервера
TARGET_PORT = {{TARGET_PORT}} # Порт центрального сервера
