TARGET_PORT = {{TARGET_PORT}} # Порт центрального сервера
SSH_PORT = {{SSH_PORT}} # Порт запука сервера по SSH
HTTP_PORT = {{HTTP_PORT}} # Порт запука сервера по HTTP
RPC_PORT = {{RPC_PORT}} # Порт запука сервера по RPC
HTTPS_PORT = {{HTTPS_PORT}} # Порт запука сервера по HTTPS
SMB_PORT = {{SMB_PORT}} # Порт запука сервера по SMB
NFS_PORT = {{NFS_PORT}} # Порт запука сервера - имитатора по NFS
DOCKER_PORT = {{DOCKER_PORT}} # Порт запука сервера по DOCKER
SYSLOG_PORT = {{SYSLOG_PORT}} # Порт запука сервера по SYSLOG
PERIPH_PORT = {{PERIPH_PORT}} # Порт запука сервера переферии
FTP_PORT = {{FTP_PORT}} # Порт сервера передачи файлов по FTP
MQTT_PORT = {{MQTT_PORT}} # Порт брокера сообщений по MQTT
UDP_PORT = {{UDP_PORT}} # Порт сетевого взаимодействия по UDP
TELEMETRY_PORT = {{TELEMETRY_PORT}} # Порт приема телеметрических данных
NETBIOS_PORT = {{NETBIOS_PORT}} # Порт службы сетевого обнаружения по NetBIOS
RDP_PORT = {{RDP_PORT}} # Порт удаленного подключения по RDP
ADB_PORT = {{ADB_PORT}} # Порт отладки мобильных устройств по ADB
HTTP_MOB_PORT = {{HTTP_MOB_PORT}} # Порт мобильного HTTP-сервера
HTTPS_MOB_PORT = {{HTTPS_MOB_PORT}} # Порт мобильного HTTPS-сервера
BINDER_PORT = {{BINDER_PORT}} # Порт межпроцессного взаимодействия по Binder
TELEPHONY_PORT = {{TELEPHONY_PORT}} # Порт управления телефонными вызовами
