HOSTNAME = # Хостр запуска сервера - имитатора
SSH_PORT = # Порт запука сервера - имитатора по SSH
HTTP_PORT = # Порт запука сервера - имитатора по HTTP
RPC_PORT = # Порт запука сервера - имитатора по RPC
NETBIOS_PORT = # Порт запука сервера - имитатора по NetBIOS
HTTPS_PORT = # Порт запука сервера - имитатора по HTTPS
SMB_PORT = # Порт запука сервера - имитатора по SMB
RDP_PORT = # Порт запука сервера - имитатора по RDP
TARGET_HOSTNAME = # Хост центрального сервера
TARGET_PORT = # Порт центрального сервера