POSTGRES_DB       = {{POSTGRES_DB}} # имя БД Postgres
POSTGRES_USER     = {{POSTGRES_USER}} # имя пользователя БД Postgres
POSTGRES_PASSWORD = {{PSWD}}  #пароль БД Postgres

POSTGRES_DEFAULT_USER  = {{POSTGRES_DEFAULT_USER}} # имя админимтратора системы по умолчанию
POSTGRES_DEFAULT_LOGIN = {{POSTGRES_DEFAULT_LOGIN}} # логин администратора системы по умолчанию
POSTGRES_DEFAULT_ROLE  = {{POSTGRES_DEFAULT_ROLE}} # роль администратора по системы по умолчанию
POSTGRES_DEFAULT_PASS  = {{PSWD}} # пароль администратора по системы по умолчанию
REDIS_PASSWORD = {{PSWD}} # пароль БД Redis
