NEXT_PUBLIC_MODE = {{MODE}} # вариант запуска клиента
NEXT_PUBLIC_HOSTNAME = {{HOSTNAME}} # хост запуска клиента
NEXT_PUBLIC_APP_PORT = {{APP_PORT}} # порт запуска клиента
NEXT_PUBLIC_DOMAIN = {{DOMAIN}} # домен запуска системы
NEXT_PUBLIC_API_HOSTNAME = {{API_HOSTNAME}} # путь обращения клиента к серверу
