HOSTNAME = {{HOSTNAME}} # Хостр запуска сервера - имитатора
PERIPH_PORT = {{PERIPH_PORT}} # Порт запука сервера - имитатора
TARGET_HOSTNAME = {{TARGET_HOSTNAME}} # Хост центрального сервера
TARGET_PORT = {{TARGET_PORT}} # Порт центрального сервера
