HOSTNAME = {{HOSTNAME}} # Хостр запуска сервера - имитатора
MQTT_PORT = {{MQTT_PORT}} # Порт запука сервера - имитатора MQTT
HTTP_PORT = {{HTTP_PORT}} # Порт запука сервера - имитатора HTTP
UDP_PORT = {{UDP_PORT}} # Порт запука сервера - имитатора UDP
TELEMETRY_PORT = {{TELEMETRY_PORT}} # Порт запука сервера - имитатора TELEMETRY
TARGET_HOSTNAME = {{TARGET_HOSTNAME}} # Хост центрального сервера
TARGET_PORT = {{TARGET_PORT}} # Порт центрального сервера
