HOSTNAME = # Хостр запуска сервера - имитатора
MQTT_PORT = # Порт запука сервера - имитатора MQTT
HTTP_PORT = # Порт запука сервера - имитатора HTTP
UDP_PORT = # Порт запука сервера - имитатора UDP
TELEMETRY_PORT = # Порт запука сервера - имитатора TELEMETRY
TARGET_HOSTNAME = # Хост центрального сервера
TARGET_PORT = # Порт центрального сервера
