HOSTNAME = # Хостр запуска сервера - имитатора
ADB_PORT = # Порт запука сервера - имитатора по ADP
HTTP_PORT = # Порт запука сервера - имитатора по HTTP
HTTPS_PORT = # Порт запука сервера - имитатора по HTTPS
BINDER_PORT = # Порт запука сервера - имитатора по BINDER
TELEPHONY_PORT = # Порт запука сервера - имитатора по TELEPHONY
TARGET_HOSTNAME = # Хост центрального сервера
TARGET_PORT = # Порт центрального сервера
