HOSTNAME = # Хостр запуска сервера - имитатора
SSH_PORT = # Порт запука сервера - имитатора по SSH
HTTP_PORT = # Порт запука сервера - имитатора по HTTP
RPC_PORT = # Порт запука сервера - имитатора по RPC
HTTPS_PORT = # Порт запука сервера - имитатора по HTTPS
SMB_PORT = # Порт запука сервера - имитатора по SMB
NFS_PORT = # Порт запука сервера - имитатора по NFS
DOCKER_PORT = # Порт запука сервера - имитатора по DOCKER
SYSLOG_PORT = # Порт запука сервера - имитатора по SYSLOG
TARGET_HOSTNAME = # Хост центрального сервера
TARGET_PORT = # Порт центрального сервера
