MODE = {{MODE}} # вариант запуска сервера
HOSTNAME = {{HOSTNAME}} # хост запуска сервера
API_PORT = {{TARGET_PORT}} # порт запуска сервера
WS_PORT = {{WS_PORT}} # порт запуска сокетов

POSTGRES_USER     = {{POSTGRES_USER}} # имя пользователя БД Postgres
POSTGRES_PASSWORD = {{PSWD}}  #пароль БД Postgres

REDIS_PASSWORD = {{PSWD}} # пароль БД Redis

AUTH_SECRET = {{SECRET}} # секрет токена авторизации
